body {
    background-image: url("img/bg-main.jpg");
    background-color: #9ac3f2;
    background-size: 100% auto;
}


#slideshow {
    margin: 50px auto;
    position: relative;
    /* width: 50%;  */
    height: auto;
    padding: 65px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    min-height: 65vh;
    max-width: 300px;
    background-image: url("img/border2-rte.png");
    background-color: rgba(255, 255, 255, 0.85);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#slideshow>div {
    /* position: relative;  */
    /* top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;  */
    display: grid;
    align-items: center;
    text-align: center;
    font-family: "La Belle Aurore";
    /* font-size: 50px; */
}

#slideshow>div>h1 {
    /* position: relative;  */
    /* top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;  */
    font-size: 50px;
    /* color:rgba(255, 153, 0, 0.877); */
}

#slideshow>div>h2 {
    font-size: 40px;
}

.img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.slide-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* CSS */
#playBtn {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #d89400;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "La Belle Aurore";
    font-size: 60px;
    font-weight: 800;
    height: 80px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
    padding-top: 15px;
}

#playBtn:hover {
    background: #F6F9FE;
    color: #d89400;
}

#playBtn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

#playBtn:focus {
    outline: none;
    border: 2px solid #d89400;
}